*{text-decoration:none}
body{
  background-color:lightblue;
}
:link{text-decoration:none}
#cuiz{
  font-size: 30px;
  font-weight: bold;

}
.bt{
  margin-bottom: 5px;
}
.questao{
 
  font-size: 22px;
}